<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" type="image/png" href="favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">

  <!-- CSS de la page -->
  <link rel="stylesheet" type="text/css" href="pages.css">

  <!-- Ionicons -->
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Polices -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  <!-- Bootstrap début -->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Bootstrap fin -->

    <title></title>
</head>
<body>
<!-- Main container -->
<div class="page-container">

<!-- Navigation Bloc -->
<div class="bloc b-divider bg-l-edge bgc-charcoal d-bloc" id="nav-bloc">
  <div class="container">
    <nav class="navbar row">
      <div class="navbar-header">
        <a class="navbar-brand" href="home.html">Concertiz</a>
        <button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-1">
          <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-1">
        <ul class="site-navigation nav navbar-nav">
          <li>
            <a href="register.html" class="ltc-white">Register</a>
          </li>
          <li>
            <div class="dropdown">
              <a href="#" class="ltc-white dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Connexion<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="login.html" class="a-btn a-block">Se connecter</a>
                </li>
                <li>
                  <a href="home.html" class="a-btn a-block">Se déconnecter</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="concerts.html" class="ltc-white">Concerts</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<!-- Navigation Bloc END -->

<!-- bloc-1 -->
<div class="bloc b-parallax bg-image2 bgc-celestial-blue d-bloc tc-white-smoke" id="bloc-1">
  <div class="container bloc-md">
    <div class="row drag-obj">
      <div class="col-sm-3">
        <div class="text-center">
          <span class="fa fa-check-square-o icon-lg icon-round pressed-t icon-2967 animated zoomIn animDelay02"></span>
        </div>
        <h3 class="text-center mg-md text-w-sm lg-shadow animated zoomIn animDelay02">
          <strong>Inscris toi</strong>
        </h3>
      </div>
      <div class="col-sm-3">
        <div class="text-center">
          <span class="ion ion-at icon-round icon-lg pressed-t animated zoomIn animDelay04"></span>
        </div>
        <h3 class="mg-md text-w-sm lg-shadow text-left text-center animated zoomIn animDelay04">
          <strong>Connectes toi</strong>
        </h3>
      </div>
      <div class="col-sm-3">
        <div class="text-center">
          <span class="fa fa-comments icon-round icon-lg pressed-t animated zoomIn animDelay06"></span>
        </div>
        <h3 class="text-center mg-md text-w-sm lg-shadow animated zoomIn animDelay06">
          <strong>Commentes</strong>
        </h3>
      </div>
      <div class="col-sm-3">
        <div class="text-center">
          <span class="fa fa-child icon-round icon-lg pressed-t animated zoomIn animDelay08"></span>
        </div>
        <h3 class="mg-md text-center text-w-sm lg-shadow animated zoomIn animDelay08">
          <strong>Kiff</strong>
        </h3>
      </div>
    </div>
    <div class="row voffset-md">
      <div class="col-sm-12">
        <form id="form_448" novalidate>
          <div class="form-group">
            <label>
              Rechercher un concert
            </label>
            <input class="form-control" placeholder="Ex : Nekfeu" id="input_416" />
          </div><a href="concerts.html" class="btn  btn-block btn-celestial-blue">Rechercher</a>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- bloc-1 END -->

<!-- bloc-2 -->
<div class="bloc bgc-white-smoke l-bloc" id="bloc-2">
  <div class="container bloc-md">
    <div class="row">
      <div class="col-sm-3">
        <img src="img/placeholder-image.png" class="img-responsive" />
        <h3 class="mg-md">
          Concert 1
        </h3>
        <h4 class="mg-md">
          Artiste :
        </h4>
        <h4 class="mg-md">
          Places disponibles :
        </h4>
        <h4 class="mg-md">
          Horaires :
        </h4>
        <h4 class="mg-md">
          Adresse :
        </h4><a href="concerts.html" class="a-btn ltc-celestial-blue a-block">Voir</a>
      </div>
      <div class="col-sm-3">
        <img src="img/placeholder-image.png" class="img-responsive" />
        <h3 class="mg-md">
          Concert 2
        </h3>
        <h4 class="mg-md">
          Artiste :
        </h4>
        <h4 class="mg-md">
          Places disponibles :
        </h4>
        <h4 class="mg-md">
          Horaires :
        </h4>
        <h4 class="mg-md">
          Adresse :
        </h4><a href="concerts.html" class="a-btn ltc-celestial-blue a-block">Voir</a>
      </div>
      <div class="col-sm-3">
        <img src="img/placeholder-image.png" class="img-responsive" />
        <h3 class="mg-md">
          Concert 3
        </h3>
        <h4 class="mg-md">
          Artiste :
        </h4>
        <h4 class="mg-md">
          Places disponibles :
        </h4>
        <h4 class="mg-md">
          Horaires :
        </h4>
        <h4 class="mg-md">
          Adresse :
        </h4><a href="concerts.html" class="a-btn ltc-celestial-blue a-block">Voir</a>
      </div>
      <div class="col-sm-3">
        <img src="img/placeholder-image.png" class="img-responsive" />
        <h3 class="mg-md">
          Concert 4
        </h3>
        <h4 class="mg-md">
          Artiste :
        </h4>
        <h4 class="mg-md">
          Places disponibles :
        </h4>
        <h4 class="mg-md">
          Horaires :
        </h4>
        <h4 class="mg-md">
          Adresse :
        </h4><a href="concerts.html" class="a-btn ltc-celestial-blue a-block">Voir</a>
      </div>
    </div>
  </div>
</div>
<!-- bloc-2 END -->

<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
<!-- ScrollToTop Button END-->


<!-- Footer - bloc-10 -->
<div class="bloc b-divider bgc-charcoal tc-white" id="bloc-10">
  <div class="container bloc-sm">
    <div class="row">
      <div class="col-sm-6">
        <h3 class="mg-md tc-white">
          Nous suivre !
        </h3><a href="https://github.com/Auriles" class="a-btn a-block ltc-white">Github</a>
      </div>
      <div class="col-sm-6">
        <h3 class="mg-md tc-white">
          Nous contacter !
        </h3>
        <p>
          auriles0404@gmail.com
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Footer - bloc-10 END -->
</div>
<!-- Main container END -->

</body>

<!-- Google Analytics -->

<!-- Google Analytics END -->

</html>
