<!-- bloc-4 -->
<div class="bloc bgc-white-smoke l-bloc" id="bloc-4">
  <div class="container bloc-xl">
    <div class="row">
      <div class="col-sm-12">
        <form id="form_4" novalidate>
          <h1 class="mg-md text-center">
            Connexion
          </h1>
          <div class="form-group">
            <label>
              Identifiant
            </label>
            <%= text_field :name4 , :email , {:class=>'form-control', :type=>'email', :placeholder=>'Veuillez saisir votre adresse email'} %>
          </div>
          <div class="form-group">
            <label>
              Mot de passe
            </label>
            <%= password_field :email4 , :mdp , {:class=>'form-control', :placeholder=>'Veuillez saisir votre mot de passe', :maxlength=>"25"} %>
          </div>
          <%= link_to 'Se connecter', 'profile.html', {:class=>'btn btn-block btn-rd btn-sm btn-medium-spring-green'} %>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- bloc-4 END -->
