
<%= form_tag(shows_path, :method => "get", id: "search-form", class: 'form-inline float-xs-right') do %>
  <div class="input-group">
      <%= text_field_tag :query, params[:query], placeholder: "Rechercher", class: 'form-control', type: 'text' %>
      <span class="input-group-btn">
        <%= submit_tag "Rechercher", class: "btn  btn-block btn-celestial-blue" %>
      </span>
    </div>
<% end %>
